---
#title: "Science and art"
layout: splash_wide
#header:
#  overlay_color: "#000"
#  overlay_filter: "0.0"
#  overlay_image: /assets/images/fibres.png
#  actions:
#    - label: "Download"
#      url: "https://github.com/mmistakes/minimal-mistakes/"
#  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
#excerpt: "Exploring the wonderful."
intro:
  - excerpt: 'Under construction'

feature_row:
  - image_path: assets/images/london.png
    alt: "Diagram of London Greenhouse Gas Project"
    title: "Science"
    excerpt: "The projects I'm currently working on and past publications."
    url: "science"
    btn_label: "Read More"
    btn_class: "btn--primary"

  - image_path: /assets/images/art_retrospace.png
    alt: "Retro aesthetic 3D art"
    title: "Art"
    excerpt: "Portfolio of art and interactive projects."
    url: "art"
    btn_label: "Read More"
    btn_class: "btn--primary"

  - image_path: /assets/images/headshot.jpg
    title: "About"
    excerpt: "A little about who I am and what this site is for."
    url: "about"
    btn_label: "Read More"
    btn_class: "btn--primary"

---
<div class="page__hero--overlay-tall", style="background-image:url('/assets/images/splash.jpg');">
  <div class="wrapper">
    <div id="page-title" class="page__title" itemprop="headline">
      <p align="center">Science <br>&<br> Art</p>
    </div>
  </div>
<!--<img src="/assets/images/splash.jpg" alt="Abstract splash image" class="page__hero-image"> -->
</div>
{% include feature_row id="intro" type="center" %}

<!-- {% include feature_row %}-->

<!-- {% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="center" %} -->
