---
layout: single
title: Art
sidebar:
  nav: "art"
permalink: /art/

header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/art_retrospace.jpg

feature_row_visual:
  - image_path: /assets/images/visualArt.gif
    alt: "3D Animation"
    title: "Visual Art"
    excerpt: 'Animation and still images. More animations available at <a href="http://ello.co/dthoare">ello.co/dthoare</a>'

feature_row_games:
  - image_path: 
    alt: ""
    title: "Games"
    excerpt: 'Online and downloadable games. Games also available at <a href="https://dthoare.itch.io/">dthoare.itch.io</a>'

feature_row_music:
  - image_path:
    alt: ""
    title: "Music"
    excerpt: 'Original soundtracks and other pieces. Music also available at <a href="https://danielhoare.bandcamp.com/releases">danielhoare.bandcamp.com</a>'
---

{% include feature_row id="feature_row_visual" type="left" %}
{% include feature_row id="feature_row_games" type="left" %}
{% include feature_row id="feature_row_music" type="left" %}
