#game canvas {
    display: block;
    margin: 0 0;
    padding: 0 0;
}

.gameScreen {
  background: #FFF;
  margin: auto;
  width: 960px;
  text-align: center;
}
.instructions {
  background: #FFF;
  margin: auto;
  padding: 15px;
  color: black;
  width: 930px;
}
